---
import { Image } from "astro:assets";
import Image1 from "/public/Virtual-Meeting-Platform-Hero-Image-1.webp";
import Image2 from "/public/Virtual-Meeting-Platform-Hero-Image-2.webp";
import Image3 from "/public/Virtual-Meeting-Platform-Hero-Image-3.webp";
import Image4 from "/public/Virtual-Meeting-Platform-Hero-Image-4.webp";
import Image5 from "/public/Virtual-Meeting-Platform-Hero-Image-5.webp";
---

<div class="p-10 pt-96 md:pt-60 lg:pt-60 hero-wrapper" id="home">
  <div class="max-w-7xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <div class="flex flex-col md:ml-16 md:justify-center lg:justify-center">
      <h1 class="font-color-body text-center text-5xl md:text-left lg:text-left">
        Turn <span class="text-white">leads into revenue</span> and keep customers satisfied
      </h1>
      <p class="font-color-body text-center md:max-w-sm text-sm mt-5 md:text-left lg:tedt-left">
        Marketing, Sales, and Customer Service teams turn conversational experiences into revenue-driving outcomes with Chat Flow Builder.
      </p>
      <div class="flex justify-center md:justify-start lg:justify-start md:mt-5 lg:mt-5">
        <button>Try for free</button>
      </div>
      <div class="mt-5 flex justify-center md:justify-start lg:justify-start">
        <span class="font-color-body">Integrations</span>
        <div class="flex justify-center items-center gap-1 ml-4">
          <span class="size-5 font-color-body icon-[line-md--chat]"></span>
          <span class="size-5 font-color-body icon-[ic--baseline-whatsapp]"></span>
          <span class="size-5 font-color-body icon-[line-md--facebook]"></span>
          <span class="size-5 font-color-body icon-[line-md--instagram]"></span>
        </div>
      </div>
    </div>
    <div class="grid grid-rows-1 md:grid-rows-2 lg:grid-rows-2 relative mb-20 mt-16">
      <div class="flex justify-center relative mb-10">
        <div class="flex relative">
          <Image
            loading={"eager"}
            class="image-people absolute w-28 top-32 md:top-48 lg:top-48 md:right-28 lg:right-28 md:w-40 lg:w-40 z-10"
            src={Image3}
            alt="people"
          />
          <Image
            loading={"eager"}
            class="image-stats relative w-44 md:w-56 md:h-56 lg:w-56"
            src={Image1}
            alt="statistics"
          />
        </div>
        <Image
          loading={"eager"}
          class="image-phone relative w-40 ml-2 md:w-56 lg:w-56"
          src={Image2}
          alt="phone"
        />
      </div>
      <div class="flex justify-center relative">
        <Image
          loading={"eager"}
          class="image-platform relative left-10 w-80 md:w-96"
          src={Image4}
          alt="platform"
        />
        <Image
          loading={"eager"}
          class="image-voice relative w-24 h-8 md:h-10 lg:h-10 top-44 right-12 md:right-16 lg:right-16 md:top-56 lg:top-56 md:w-32 lg:w-32"
          src={Image5}
          alt="voice"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .hero-wrapper {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-stats {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff17;
    border-radius: 12px 12px 12px 12px;
  }

  .image-phone {
    border-radius: 12px 12px 12px 12px;
  }

  .image-people {
    border-radius: 100px 100px 100px 100px;
  }

  .image-platform {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff75;
    border-radius: 20px 20px 20px 20px;
  }

  .image-voice {
    border-radius: 100px 100px 100px 100px;
  }

  button {
    background-color: #fff;
    color: #0d0e12;
    width: 170px;
    height: 40px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #7C7E82;
  }
</style>
